<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHECKOUT</title>
    <link rel="stylesheet" href="assets/css/slide.css"/>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/vinh.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="libs/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="libs/owlcarousel/assets/owl.theme.default.min.css">
</head>
<body>
<div class="wrapper">
    <div class="header_top">
        <div class="container">
            <nav class="navbar">
                <ul class="menu_nav">
                    <li class="menu_nav-item separate">
                        <a class="navbar_link" href="">
                            <i class="nav_icon fas fa-map-marker-alt"></i>
                            <span>Store Location</span>
                        </a>
                    </li>
                    <li class="menu_nav-item separate">
                        <a class="navbar_link" href="">
                            <i class="nav_icon fas fa-truck"></i>
                            <span>Track Your Order</span>
                        </a>
                    </li>
                    <li class="menu_nav-item separate">
                        <a class="navbar_link" id="btnLogin" href="#"><span>Login</span></a>
                    </li>
                    <li class="menu_nav-item">
                        <a class="navbar_link" id="btnRegister" href="#"><span>Register</span></a>
                    </li>
                </ul>
                <ul class="menu_nav">
                    <li class="menu_nav-item separate">
                        <a class="navbar_link" href="#">
                            <i class="nav_icon fas fa-phone-alt"></i>
                            <span>Hotline: +123 456 7890</span>
                        </a>
                    </li>
                    <li class="menu_nav-item">
                        <a class="navbar_link" href="#">
                            <i class="nav_icon fas fa-globe-asia"></i>
                            <span>Language</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header_middle">
        <div class="container">
            <nav class="header_middle-content">
                <a href="#" class="header_logo">
                    <img src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/logo/stores/2/logo_index_2_1.png" alt="">
                </a>
                <div class="form-search">
                    <input class="input-search" placeholder="Search product..." type="text">
                    <div class="search_select">
                        <span class="select-label">All Categories</span>
                        <a class="select-icon-link" href=""><i class="select-icon fas fa-sort-down"></i></a>
                        <ul class="search-option">
                            <li class="search-option-item"><a href="#">--Category 1</a></li>
                            <li class="search-option-item"><a href="#">--Category 2</a></li>
                            <li class="search-option-item"><a href="#">--Category 3</a></li>
                            <li class="search-option-item"><a href="#">--Category 4</a></li>
                            <li class="search-option-item"><a href="#">--Category 5</a></li>
                            <li class="search-option-item"><a href="#">--Category 6</a></li>
                            <li class="search-option-item"><a href="#">--Category 7</a></li>
                            <li class="search-option-item"><a href="#">--Category 8</a></li>
                            <li class="search-option-item"><a href="#">--Category 9</a></li>
                            <li class="search-option-item"><a href="#">--Category 10</a></li>
                            <li class="search-option-item"><a href="#">--Category 11</a></li>
                        </ul>
                    </div>
                    <button class="btn-search"><i class="search-icon fas fa-search"></i></button>

                </div>
                <div class="shopping-cart">
                    <div class="header__cart-wrap">
                        <a href="#" class="btn-rounder">
                            <i class="cart-icon fas fa-shopping-cart"></i>
                            <span class="header__cart-notice">0</span>
                        </a>
                        <!-- No cart class: shopping_cart-nocart -->
                        <div class="header__cart-list shopping_cart-nocart">
                            <img class="shopping_cart-nocart-img" src="./assets/images/no-cart.png" alt="">
                            <span class="shopping_cart-nocart-msg">You have no items in your shopping cart.</span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<section class="section section11">
    <div class="container">
        <div class="grid__row totalorder">
            <div class="grid__colum-8">
                <h3>SHIPPING ADDRESS</h3>
                <form action="#" method="post" class="form-checkout">
                    <label for="email">Email Address<span>*</span></label></br>
                    <div><input name="email" id="email" type="email"required/></div></br>
                    <p>You can create an account after checkout.</p></br>
                    <label for="fname">First Name<span>*</span></label></br>
                    <div><input name="fname" id="fname" type="text"required/></div></br>
                    <label for="lname">Last Name<span>*</span></label></br>
                    <div><input name="lname" id="lname" type="text"required/></div></br>
                    <label for="street">Street Address<span>*</span></label></br>
                    <div><input name="street" id="street" type="text"/></div></br>
                    <label for="city">City<span>*</span></label></br>
                    <div><input name="city" id="city" type="text"/></div></br>
                    <label for="state">State/Province<span>*</span></label></br>
                    <div>
                        <select name="country" id="state" >
                            <option value="Please select a region,state or province">Please select a region,state or province</option>
                            <option value="California">United States<span>*</span></option>
                            <option value="HaNoi">HaNoi</option>
                            <option value="Roma">Roma</option>
                            <option value="London">London</option>
                            <option value="NewYork">New York</option>
                        </select>
                    </div></br>
                    <label for="zip">Zip/Postal Code<span>*</span></label></br>
                    <div><input name="zip" id="zip" type="text" placeholder="Enter your Zip/Code"/></div></br>
                    <label for="country">County<span>*</span></label></br>
                    <div>
                        <select name="country" id="country">
                            <option value="United States">United States</option>
                            <option value="America">America</option>
                            <option value="VietNam">VietNam</option>
                            <option value="Italia">Italia</option>
                        </select>
                    </div></br>
                    <label for="tel">Phone Number<span>*</span></label></br>
                    <div><input name="tel" id="tel" type="tel" required/></div>
                </form>
                <p class="alam"> Please check again your shipping address before checkout! </p>
            </div>
            <div class="grid__colum-4 orderitem">
                <h3> ORDER SUMMARY</h3>
                <div class=" summary1 itemdow" id="itemdow" >
                    <p onclick="myFunction1()">3 Item in Cart<i class="fas fa-chevron-down"></i></p>
                </div>
                <div class="summary1 itemup " id="itemup">
                    <p onclick="myFunction2()">3 Item in Cart<i class="fas fa-chevron-up"></i></p>
                </div>
                <div id="item-order">
                    <div class="order-detail">
                        <div class="grid__row">
                            <div class="grid__colum-3">
                                <img src="imgs/thot.jpg"/>
                            </div>
                            <div class="grid__colum-6">
                                <p>Philips HR1861 Whole Fruit Juicer</p>
                                <p>Qty: 2</p>
                            </div>
                            <div class="grid__colum-3">
                                <p>$170.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="order-detail">
                        <div class="grid__row">
                            <div class="grid__colum-3">
                                <img src="imgs/dao.jpg"/>
                            </div>
                            <div class="grid__colum-6">
                                <p>Philips HR1861 Whole Fruit Juicer</p>
                                <p>Qty: 2</p>
                            </div>
                            <div class="grid__colum-3">
                                <p>$170.00</p>
                            </div>
                        </div>
                    </div>
                    <div class="order-detail">
                        <div class="grid__row">
                            <div class="grid__colum-3">
                                <img src="imgs/xaysinhto.jpg"/>
                            </div>
                            <div class="grid__colum-6">
                                <p>Philips HR1861 Whole Fruit Juicer</p>
                                <p>Qty: 2</p>
                            </div>
                            <div class="grid__colum-3">
                                <p>$170.00</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkout">
                    <div class="grid__row">
                        <div class="grid__colum-6">
                            <p>GRAND TOTAL</p>
                        </div>
                        <div class="grid__colum-6">
                            <p class="orderprice">$1000</p>
                        </div>
                    </div>
                </div>
                <button type="button">CHECKOUT</button>
            </div>
        </div>
    </div>
</section>
<%-include('footer')-%>
<script type="text/javascript">
    function myFunction1() {
        var fomr=document.getElementById("item-order");
        fomr.classList.add("active");
        var a= document.getElementById("itemdow");
        a.classList.add("active");
        var b= document.getElementById("itemup");
        b.classList.add("active");
    }
    function myFunction2() {
        var fomr=document.getElementById("item-order");
        fomr.classList.remove("active");
        var a= document.getElementById("itemdow");
        a.classList.remove("active");
        var b= document.getElementById("itemup");
        b.classList.remove("active");
    }
</script>
</body>
</html>