<footer>
    <div class="container">
        <div class="grid__row footer-with-socials">
            <div class="grid__colum-3">
                <a href=""><img class="footer-paypal" src="/assets/images/paypal.png" alt=""></a>
            </div>
            <div class="grid__colum-5">
                <div class="footer-with-logo">
                    <img src="/assets/images/logo.png" alt="">
                </div>
                <!-- <div class="footer-with-app">
                    <span>DOWNLOAD OUR APP</span>
                    <a href="#"><img src="./assets/images/app-store.jpg" alt=""></a>
                    <a href="#"><img src="./assets/images/googleplay.jpg" alt=""></a>
                </div> -->
            </div>
            <div class="grid__colum-4">
                <div class="footer-social">
                    <span class="footer-social_title">FOLLOW US</span>
                    <a class="footer-social_link" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="footer-social_link" href=""><i class="fab fa-twitter"></i></a>
                    <a class="footer-social_link" href=""><i class="fab fa-google-plus-g"></i></a>
                    <a class="footer-social_link" href=""><i class="fab fa-instagram"></i></a>
                    <a class="footer-social_link" href=""><i class="fab fa-pinterest"></i></a>
                </div>
            </div>
        </div>
        <div class="grid__row footer-with-footerdetail">
            <div class="grid__colum-4">
                <div class="footerdetail_contact">
                    <h3 class="footerdetail_heading">contact us</h3>
                    <span class="footerdetail_contact_detail"><i class="footerdetail_contact_detail-icon fas fa-home"></i><span>No 40 Baria Sreet 133/2 NewYork City, NY, USD.</span></span>
                    <span class="footerdetail_contact_detail"><i class="footerdetail_contact_detail-icon far fa-envelope"></i><span>siddd00474@fpt.edu.vn</span></span>
                    <span class="footerdetail_contact_detail"><i class="footerdetail_contact_detail-icon fas fa-phone-alt"></i><span>(800) 1234 8888 - (800) 1234 9999</span></span>
                    <span class="footerdetail_contact_detail"><i class="footerdetail_contact_detail-icon far fa-clock"></i><span>Open Time: 8:00AM - 6:00PM</span></span>
                </div>
            </div>
            <div class="grid__colum-2">
                <div class="footerdetail_contact">
                    <h3 class="footerdetail_heading">OUR SERVICES</h3>
                    <ul class="footerdetail_contact_list">
                        <li class="footerdetail_contact_detail"><a href="">About Store</a></li>
                        <li class="footerdetail_contact_detail"><a href="">New Collection</a></li>
                        <li class="footerdetail_contact_detail"><a href="">Contact Us</a></li>
                        <li class="footerdetail_contact_detail"><a href="">Latest News</a></li>
                        <li class="footerdetail_contact_detail"><a href="">Our Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <div class="grid__colum-3">
                <div class="footerdetail_contact">
                    <h3 class="footerdetail_heading">DOWNLOAD OUR APP</h3>
                    <ul class="footerdetail_contact_list_app">
                        <li class="footerdetail_contact_app_item">
                            <a>
                                <img src="/assets/images/app-store.jpg" alt="">
                            </a>
                        </li>
                        <li class="footerdetail_contact_app_item">
                            <a>
                                <img src="/assets/images/googleplay.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                    <!-- <ul class="footerdetail_contact_list">
                        <li class="footerdetail_contact_detail"><a href="">About Store</a></li>
                        <li class="footerdetail_contact_detail"><a href="">New Collection</a></li>
                        <li class="footerdetail_contact_detail"><a href="">Contact Us</a></li>
                        <li class="footerdetail_contact_detail"><a href="">Latest News</a></li>
                        <li class="footerdetail_contact_detail"><a href="">Our Sitemap</a></li>
                    </ul> -->
                </div>
            </div>
            <div class="grid__colum-3">
                <div class="footerdetail_contact">
                    <h3 class="footerdetail_heading">INSTAGRAM</h3>
                    <span style="font-size: 1.2rem;">No Images or Users ID and Access Token incorrect</span>
                </div>
            </div>
            <div class="grid__colum-12">
                <ul class="footer_copyright-list">
                    <li class="footer_copyright-item"><span>© 2020 - Bản quyền của Công Ty Cổ Phần Tasha - tasha.vn</span></li>
                    <li class="footer_copyright-item"><span>Giấy chứng nhận Đăng ký Kinh doanh số 017227856 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày 17/05/2020</span></li>
                </ul>
            </div>
        </div>
    </div>
</footer>