<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/vinh.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="libs/slider/themes/default/default.css"/>
    <link type="text/css" rel="stylesheet" href="libs/slider/nivo-slider.css"/>
    <link rel="stylesheet" href="libs/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="libs/owlcarousel/assets/owl.theme.default.min.css">
</head>
<body>
<div class="wrapper">
    <div class="header_top">
        <div class="container">
            <nav class="navbar">
                <ul class="menu_nav">
                    <li class="menu_nav-item separate">
                        <a class="navbar_link" href="">
                            <i class="nav_icon fas fa-map-marker-alt"></i>
                            <span>Store Location</span>
                        </a>
                    </li>
                    <li class="menu_nav-item separate">
                        <a class="navbar_link" href="">
                            <i class="nav_icon fas fa-truck"></i>
                            <span>Track Your Order</span>
                        </a>
                    </li>
                    <li class="menu_nav-item separate">
                        <a class="navbar_link" id="btnLogin" href="#"><span>Login</span></a>
                    </li>
                    <li class="menu_nav-item">
                        <a class="navbar_link" id="btnRegister" href="#"><span>Register</span></a>
                    </li>
                </ul>
                <ul class="menu_nav">
                    <li class="menu_nav-item separate">
                        <a class="navbar_link" href="#">
                            <i class="nav_icon fas fa-phone-alt"></i>
                            <span>Hotline: +123 456 7890</span>
                        </a>
                    </li>
                    <li class="menu_nav-item">
                        <a class="navbar_link" href="#">
                            <i class="nav_icon fas fa-globe-asia"></i>
                            <span>Language</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header_middle">
        <div class="container">
            <nav class="header_middle-content">
                <a href="#" class="header_logo">
                    <img src="http://magento2.flytheme.net/themes/sm_zumi/pub/media/logo/stores/2/logo_index_2_1.png" alt="">
                </a>
                <div class="form-search">
                    <input class="input-search" placeholder="Search product..." type="text">
                    <div class="search_select">
                        <span class="select-label">All Categories</span>
                        <a class="select-icon-link" href=""><i class="select-icon fas fa-sort-down"></i></a>
                        <ul class="search-option">
                            <li class="search-option-item"><a href="#">--Category 1</a></li>
                            <li class="search-option-item"><a href="#">--Category 2</a></li>
                            <li class="search-option-item"><a href="#">--Category 3</a></li>
                            <li class="search-option-item"><a href="#">--Category 4</a></li>
                            <li class="search-option-item"><a href="#">--Category 5</a></li>
                            <li class="search-option-item"><a href="#">--Category 6</a></li>
                            <li class="search-option-item"><a href="#">--Category 7</a></li>
                            <li class="search-option-item"><a href="#">--Category 8</a></li>
                            <li class="search-option-item"><a href="#">--Category 9</a></li>
                            <li class="search-option-item"><a href="#">--Category 10</a></li>
                            <li class="search-option-item"><a href="#">--Category 11</a></li>
                        </ul>
                    </div>
                    <button class="btn-search"><i class="search-icon fas fa-search"></i></button>

                </div>
                <div class="shopping-cart">
                    <div class="header__cart-wrap">
                        <a href="#" class="btn-rounder">
                            <i class="cart-icon fas fa-shopping-cart"></i>
                            <span class="header__cart-notice">0</span>
                        </a>
                        <!-- No cart class: shopping_cart-nocart -->
                        <div class="header__cart-list shopping_cart-nocart">
                            <img class="shopping_cart-nocart-img" src="./assets/images/no-cart.png" alt="">
                            <span class="shopping_cart-nocart-msg">You have no items in your shopping cart.</span>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<section class="section section10">
    <div class="container">
        <div class="grid__row">
            <div class="grid__colum-8">
                <form action="#" method="post">
                    <div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="grid__colum-6 Item"> ITEM</th>
                                <th class="grid__colum-2"><span>PRICE</span></th>
                                <th class="grid__colum-2"> QTY</th>
                                <th class="grid__colum-2"> SUBTOTAL</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="grid__colum-6 table_img">
                                    <a href="#" ><img src="imgs/xaysinhto.jpg" height="91px"width="91px"/>
                                        <p style="width: 250px" > HESTON BOILER ESPRESSO MACHINE</p>
                                        <button class="reset-product" type="reset">x</button>
                                    </a>
                                </td>
                                <td class="grid__colum-2 Price"><span>$55,00</span></td>
                                <td class="grid__colum-2 Qty"><span>2</span></td>
                                <td class="grid__colum-2 Total"><span>$110,00</span></td>
                            </tr>
                            <tr>
                                <td class="grid__colum-6 table_img">
                                    <a href="#" ><img src="imgs/xaysinhto.jpg" height="91px"width="91px"/>
                                        <p style="width: 250px" > HESTON BOILER ESPRESSO MACHINE</p>
                                        <button class="reset-product" type="reset">x</button>
                                    </a>
                                </td>
                                <td class="grid__colum-2 Price"><span>$55,00</span></td>
                                <td class="grid__colum-2 Qty"><span>2</span></td>
                                <td class="grid__colum-2 Total"><span>$110,00</span></td>
                            </tr>
                            <tr>
                                <td class="grid__colum-6 table_img">
                                    <a href="#" ><img src="imgs/xaysinhto.jpg" height="91px"width="91px"/>
                                        <p style="width: 250px" > HESTON BOILER ESPRESSO MACHINE</p>
                                        <button class="reset-product" type="reset">x</button>
                                    </a>
                                </td>
                                <td class="grid__colum-2 Price"><span>$55,00</span></td>
                                <td class="grid__colum-2 Qty"><span>2</span></td>
                                <td class="grid__colum-2 Total"><span>$110,00</span></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="button2">
                            <button><a href="#">CONTINUE SHOPPING</a></button>
                            <button class="clear" type="reset">CLEAR SHOPPING CART</button>
                            <button><a href="#">UPDATE SHOPPING CART</a> </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="grid__colum-4">
                <div class="summary">
                    <div class="title-summary">
                        <h2>SUMMARY</h2>
                    </div>
                    <div class=" summary1 summarydow" id="summarydow" >
                        <p onclick="myFunction1()">ESTIMATE SHIPPING AND TAX <i class="fas fa-chevron-down"></i></p>
                    </div>
                    <div class="summary1 summaryup " id="summaryup">
                        <p onclick="myFunction2()">ESTIMATE SHIPPING AND TAX <i class="fas fa-chevron-up"></i></p>
                    </div>
                    <h4>Enter your destination to get a shipping estimate.</h4>
                    <form  id="form-payment" action="#" method="post">
                        <label for="country">County</label></br>
                        <select name="country" id="country">
                            <option value="United States">United States</option>
                            <option value="America">America</option>
                            <option value="VietNam">VietNam</option>
                            <option value="Italia">Italia</option>
                        </select></br>
                        <label for="state">State/Province</label></br>
                        <select name="country" id="state" >
                            <option value="Please select a region,state or province">Please select a region,state or province</option>
                            <option value="California">United States</option>
                            <option value="HaNoi">HaNoi</option>
                            <option value="Roma">Roma</option>
                            <option value="London">London</option>
                            <option value="NewYork">New York</option>
                        </select></br>
                        <label for="zip">Zip/Postal Code</label></br>
                        <input name="zip" id="zip" type="text" placeholder="Enter your Zip/Code"/></br>
                        <div>
                            <p><b>Best way</b></p>
                            <input type="radio" id="bestway" name="choose" value="bestway">
                            <label for="bestway">Table rate $0.00</label>
                            <p><b>Flat Rate</b></p>
                            <input type="radio" id="fixed" name="choose" value="fixed">
                            <label for="fixed">Fixed $10.00</label>
                        </div>
                    </form>
                    <p class="sub">Subtotal	<span>$110.00</span></p>
                    <p class="shiping">Shipping(Flat Rate - Fixed)	<span>$10.00</span></p>
                    <p class="order">Order Total	<span>$120.00</span></p>
                    <div class=" summary1 summarydow" id="discountdow" >
                        <p onclick="myFunction3()">APPLY DISCOUNT CODE <i class="fas fa-chevron-down"></i></p>
                    </div>
                    <div>
                        <div class=" summary1 summarydow" id="discountup" >
                            <p onclick="myFunction4()">APPLY DISCOUNT CODE <i class="fas fa-chevron-up"></i></p>
                        </div>
                        <form action="#" method="post" id="form-discount">
                            <label class="discount" for="discount"> Enter discount code</label>
                            <input name="discount" id="discount" placeholder="Enter discount code" required/>
                            <button id="discount-button" type="submit">APP DISCOUNT</button>
                        </form>
                    </div>
                    <button id="checkout" type="button">PROCEED TO CHECK OUT</button>
                </div>
            </div>
        </div>
    </div>
</section>
<%-include('footer')-%>
<script type="text/javascript">
    function myFunction1() {
        var fomr=document.getElementById("form-payment");
        fomr.classList.add("active");
        var a= document.getElementById("summarydow");
        a.classList.add("active");
        var b= document.getElementById("summaryup");
        b.classList.add("active");
    }
    function myFunction2() {
        var fomr=document.getElementById("form-payment");
        fomr.classList.remove("active");
        var a= document.getElementById("summarydow");
        a.classList.remove("active");
        var b= document.getElementById("summaryup");
        b.classList.remove("active");
    }
    function myFunction3() {
        var fomr=document.getElementById("form-discount");
        fomr.classList.add("active");
        var a= document.getElementById("discountdow");
        a.classList.add("active");
        var b= document.getElementById("discountup");
        b.classList.add("active");
    }
    function myFunction4() {
        var fomr=document.getElementById("form-discount");
        fomr.classList.remove("active");
        var a= document.getElementById("discountdow");
        a.classList.remove("active");
        var b= document.getElementById("discountup");
        b.classList.remove("active");
    }
</script>
</body>
</html>